
.menuIntro {
    margin: 80px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
    background: linear-gradient(135deg, rgba(52, 58, 66, 0.1), rgba(0, 0, 0, 1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.menuIntro .menuIntro-text {
    margin: 30px auto;
    padding-right: 20px;
    text-align: center;
    max-width: 350px;
}

.menuIntro-text p {
    margin-top: 0;
    color: white;
}

.menuIntro .menuIntro-text h1 {
    font-size: 60px;
    margin-top: 0;
    font-family: 'Times New Roman', Times, serif;
}

.menuIntro-images {
    max-height: 100%;
    max-width: 100%;
}

.menuIntro-images .lamskoteletten {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
