* {
  font-size: 12pt;
  color: black;
  max-width: 100;
  --side-margin:150px;
  --main-side-margin:70px;
}

img {
  max-width: 100%;
}

.body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 1fr 1fr;
  grid-template-areas:
                      "nav"
                      "header"
                      "main"
                      "footer";
}

.nav {
  grid-area: nav;
  background-color: white;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
  background-color: white;
}

.footer {
  grid-area: footer;
  background-color: #495E57;
}

/* Styling the navigation ......................................................................*/

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
}

.navigation img {
  width: 100px;
}

.nav > ul {
  display: flex;
}

.nav ul li {
  list-style-type: none;
  margin-left: 15px;
}

.nav ul li a{
  text-decoration: none;
  font-weight: bold;
  padding: 5px;
  transition: 0.5s;
}

.nav ul li a:hover {
  color: burlywood;
  font-weight: bolder;
}

.navigation .cart-icon-container .card-icon {
  font-size: 35px;
}

/*making active links to stay highlighted*/
.navigation a.active {
  color: burlywood;
}

.hamburgerIcon {
  display: none;
}

.hamburgerIcon .icon{
  font-size: 20pt;
  padding: 5px;
  border-radius: 5px;
}

.hamburgerIcon .icon:hover {
  background-color: #495E57;
}

/* making navigation */
@media screen and (max-width: 1000px) {
  .hamburgerIcon {
    display: block;
  }

  .nav ul{
    position: fixed;
    top:7vh;
    right: var(--side-margin);
    width:25%;
    height: 40%;
    background-color: #EDEFEE;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 0px;
    padding-left: 0px;
  }
}

@media screen and (max-width: 850px) {
  * {
    --side-margin:80px;
    --main-side-margin:40px;
  }
}

@media screen and (max-width: 750px) {
  * {
    --side-margin:40px;
    --main-side-margin:20px;
  }

  .card img {

  }
}

/* creating style to control weather 
   hamburger menu shows or not*/
.not-active {
  display: none;
}


/* styling the header ...........................................................................................................*/

.header {
  margin-inline: 10px;
  border-radius: 10px 10px 0px 0px;
  background: linear-gradient(180deg,
                             #495E57 0%,
                             #495E57 80%,
                             white 80%,
                             white 100%);
}

.header-heading {
  text-align: center;
}

.header-heading h1 {
  font-size: 80px;
  color: gray;
  margin: 0;
}

.header > div{
  margin-left: var(--side-margin);
  margin-right: var(--side-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurantFoot-img {
  width: 250px;
  height: 300px;
}

.restaurantFoot-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin-top: 15px;
}

/* styling the footer ..................................................................................................*/
.footer {
  padding: 30px;
}

.footer .footer-logo {
  display: flex;
  justify-content: center;
}

.inFooter-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.footer div {
  justify-content: space-between;
  
}

.footer-img {
  width: 200px;
  height: 180px;
}

.footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.footer div h4 {
  margin-top: 0;
}

.footer div ul {
  margin-left: 0px;
  padding-left: 0px;
}

.footer div ul li {
  list-style-type: none;
}

.footer div ul li a{
  text-decoration: none;
  transition: 0.5s;
}

.footer div ul li a:hover {
  color: burlywood;
}

.footer hr {
  height: 10px;
  background-color: burlywood;
  border: none;
}

/* styling the main section .................................................................................................................................*/

.main-tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-tittle h1 {
  font-size: 20pt;
}

.card {
  width: 370px;
  height: 360px;
  background-color: #EDEFEE;
  border-radius: 15px 15px 0px 0px ;
  margin-bottom: 20px;
}

.card-image {
  width: 370px;
  height: 220px;
  border-radius: 15px 15px 0px 0px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.card-tittle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
}

.card-tittle h4 {
  font-size: 20px;
  margin: 5px 0px;
}

.card .card-price {
  color: burlywood;
}

.card .card-description {
  margin: 10px;
  font-size: 11pt;
}

.card .card-delivery {
  margin: 10px;
  padding-bottom: 10px;
}

.card .card-delivery:hover {
  color: #F4CE14;
  cursor: pointer;
}

.food-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.main .food-card {
  align-items: center;
}

/* Styling the food menu */
.foodItem-container {
  max-width: 500px;
  margin: 10px;
  border: 2px solid burlywood;
  border-radius: 20px;
  padding: 10px;
}

.menuItem-title {
  margin: 0;
  font-size: 20px;
  color: burlywood;
}

.foodItem-image {
  width: 150px;
  height: 230px;
  margin: 0;
  border-radius: 20px;
}

.foodItem-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  border-radius: 20px;
}

.foodItem-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foodItem-info .foodItem-btn {
  margin: 10px auto;
}

.foodItem-img-des {
  display: flex;
  gap: 20px;
}

.foodItem-img-des-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.foodItem-img-des hr {
  height: 1px;
  background-color: black;
  border: none;
}

.foodItem-description {
  width: 300px;
  margin: 0;
}

.foodItem-img-des .priceAndTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foodItem-price h3 {
  font-size: 20px;
  color: burlywood;
  margin: 0;
}

.menu .traditional-menu {
  margin: 40px auto;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.menu h2 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.dessertsAndBreakfast {
  margin: 40px auto;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/**/
.signatureDish-container {
  max-width: 300px;
  margin: 10px;
}

.signatureDish-image {
  max-width: 300px;
  max-height: 300px;
  margin: 0;
  border-radius: 20px 20px 0px 0px;
}

.signatureDish-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0;
  border-radius: 20px 20px 0px 0px;
}

.signatureDish-info .signatureDish-btn {
  margin: 10px 0px;
}

.signatureDish-img-des-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.signatureDish-description {
  width: 300px;
  margin: 0;
}

.signatureDish-img-des-info .priceAndTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signatureDish-price h3 {
  font-size: 30px;
  color: burlywood;
  margin: 0;
}

.menu .SignatureDish-menu {
  margin: 40px 0px 80px 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.drinkItem-container {
  min-width: 310px;
  max-width: 700px;
  flex: 1;
  margin-inline: 20px;
}

.drinkItem-container hr {
  height: 1px;
  border: none;
  margin-top: 0px ;
  background-color: black;
}

.drinkItem-container .drinkItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drinkItem-container .drinkItem div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.drinkItem-container .drinkItem .drinkItem-price {
  display: flex;
  align-items: center;
}

.drinkItem .drinkItem-price .addDrink {
  background-color: #495E57;
  border: 2px solid black;
  border-radius: 50%;
  margin: 5px;
  padding: 5px;
  font-size: 25px;
  width: 30px;
  height: 30px;
}

.menu .drinks-section {
  background: linear-gradient(135deg, rgba(135, 140, 146, 0.1), rgb(70, 69, 69));
  text-align: center;
  margin-bottom: 80px;
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu .drinks-section > div {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}


/*styling  the testimonials section */

.testimonials {
  margin-left: var(--main-side-margin);
  margin-right: var(--main-side-margin);
}

.testimonials h1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20pt;
  background-color: #c4c6c5;
}

.reviewer-profile img {
  width: 200px;
  border-radius: 10px;
}

.testimonials > div {
  display: flex;
  justify-content: space-between;
}

.review-card {
  width: 200px;
  background-color: #c4c6c5;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* styling the info section */
.info {
  margin-right: var(--main-side-margin);
  margin-left: var(--main-side-margin);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.infoText > h1{
  font-size: 20pt;
}

.infoText > h3{
  font-size: 16pt;
}

.info div {
  width: 50%;
}

.info-images {
  width: 400px;
  height: 350px;
  position: relative;
}

.info-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin-left: 100px;
}

.info-images .imageB {
  position: absolute;
  top: 110px;
  left: 150px;
}


/* styling the booking ..................................................................*/
.login button:hover {
  background-color: #495E57;
  color: #F4CE14;
}

.main-booking {
  margin-left: var(--main-side-margin);
  margin-right: var(--main-side-margin);
}

.login {
  margin-top: 20px;
  margin-bottom: 40px ;
}

.login .login-title h1 {
  font-size: 20pt;
  margin-top: 0;
}

.login > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login form .inputs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.login form .inputs label {
  margin: 10px;
}

.login form input {
  width: 50vb;
  height: 40px;
  border-radius: 10px;
  background-color: #EDEFEE;
  border: none;
  padding: 5px;
}

.login form button {
  display: flex;
  justify-content: center;
  width: 50vb;
  height: 30px;
  font-size: 16pt;
  border-radius: 30px;
  transition: all 0.6s;
  cursor: pointer;
}

.login form .loginButton {
  display: flex;
  justify-content: center;
}

.signUp-button {
  text-align: center;
}

.signUp-button div {
  display: flex;
  justify-content: center;
}

.signUp-button div button {
  width: 200px;
}

.signUp-button h4 {
  font-weight: lighter;
  margin-top: 0px;
  width: 150px;
  margin: auto;
}

.signUp-button h4:hover {
  cursor: pointer;
  color: #F4CE14;
}

.signUp-button h1 {
  font-size: 20pt;
  margin-bottom: 0;
}


/* styling the reservation*/

.reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

.reservation-hide {
  display: none;
}

.reservation-show {
  display: block;
}

.reservation form {
  width: 60vw;
}

.reservation form .inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.reservation form input {
  width: 100%;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 10px;
  background-color: #EDEFEE;
  padding: 5px;
}

.reservation form textarea {
  width: 100%;
  outline: none;
  border: none;
  height: 100px;
  border-radius: 10px;
  background-color: #EDEFEE;
  padding: 5px;
}

#resTime {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #EDEFEE;
  padding: 5px;
}

#occasion {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  background-color: #EDEFEE;
  padding: 5px;
}

.selections {
  display: flex;
  justify-content: center;
}

.inputs div {
  margin: 10px;
}

.confirmButton {
  display: flex;
  justify-content: center;
}

.confirmButton button {
  margin-left: 10px;
  background-color: #F4CE14;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  border: none;
  font-size: 12pt;
  transition: 0.5s;
}

.confirmButton button:hover {
  background-color: #495E57;
  color: #F4CE14;
}
 
.reservation-title h1 {
  text-align: center;
  font-size: 20pt;
  color: #F4CE14;
  margin: 0;
}

.resCode {
  color: #43b452da;
}

/*....*/
.unSuccessfulRes {
  display: none;
}

.successfulRes {
  display: block;
}

.successfulRes > h1 {
  color: #F4CE14;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.successfulRes span {
  color: green;
}

.successfulRes-details {
  display: flex;
  gap: 90px;
}

.successfulRes-details img {
  width: 200px;
}

.successfulRes button {
  padding: 5px;
  border: none;
  color: #495E57;
  transition: 0.5s;
}

.successfulRes button:hover {
  color: #495E57;
  background-color: #F4CE14;
  cursor: pointer;
}




/* styling the signUp */
.signUp {
  display: flex;
  justify-content: center;
  
  border-radius: 10px;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 20px;

  position: relative;
}

.signUp input {
  width: 50vw;
  padding: 5px;
  outline: none;
  
  height: 40px;
  border-radius: 10px;
  margin-right: 0px;
}

.signUp-button button {
  background-color: #F4CE14;
  width: 25vb;
  height: 40px;
  border-radius: 10px;
}

.signUp-button button:hover {
  background-color: #495E57;
  color: #F4CE14;
}

.close-signUp-button {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0%;
  right: 0%;
}

.close-signUp-button button {
  background-color: #F4CE14;
  border-radius: 10px;
}

.close-signUp-button button:hover {
  background-color: red;
}

.signUp-btn button {
  width: 25vb;
  height: 40px;
  border-radius: 10px;
  background-color: #F4CE14;
  font-size: 18pt;
}

.signUp-btn button:hover {
  background-color: white;
  color: #F4CE14;
}

.SignUP-container {
  display: none;
}

.create-account-button {
  width: 50px;
  margin: auto;
  border: none;
}
